.expenses {
  padding: 1rem;
  /* background-color: rgb(31, 31, 31); */
  background-color: cornflowerblue;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}
